@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,600&display=swap');
@import url(./snow.css);
@import url(./universe.css);


body{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunrise{
  animation: 10s sunriseSky infinite;
  animation-delay: 5s;
  background: radial-gradient(ellipse at bottom,#fca95b 0%,#dca7bf 35%,#5d54c7 85%, #473eac 100%);
}

.sunrise h1{
  animation: 17s fadeText infinite;
}

.winter{
    background: radial-gradient(ellipse at bottom, #BFD7EA 10%, #726DA8 100%);
    overflow: hidden;
    /*animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running; */
}
.container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 100%);
}

.sun {
  position: relative;
  width: 300px;
  height: 300px;
  opacity: 0;
  background: linear-gradient(to top, #fb6753 0%, #fc8b53 50%,#fdd55a 75%,#fee777 100% );
  background-size: 200% 200%;
  border-radius: 100%;
  filter: drop-shadow(0 0 15px #fdd55a);
  animation: 10s rise infinite;
  animation-delay: 5s;
}



.rain{
  background: #00416A; 
  background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A); 
  background: linear-gradient(to bottom, #E4E5E6, #00416A);

}

/* credit for rain stuff: https://codepen.io/jh3y/pen/WyNdMG */
.rain__drop{
  animation-delay: calc(var(--d) * 1s);
  animation-duration: calc(var(--a) * 1s);
  animation-iteration-count: infinite;
  animation-name: drop;
  animation-timing-function: linear;
  height: 30px;
  left: calc(var(--x) * 1%);
  position: absolute;
  top: -0%;
}

.rain__drop path{
    fill: #a1c6cc;
    opacity: var(--o);
    transform: scaleY(calc(var(--s) * 1.5));
  }
  
.time{
  background-image: url(https://i.postimg.cc/KzY2vYC2/image0.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.stars{
  background-color: #F8EBFF;
  background-image: url(https://i.postimg.cc/DzDxBP6h/source.gif);
}

.sparkle{
  color: #035ee2;
  font-size: 60px;
  font-weight: 600;
	background: -webkit-linear-gradient(transparent, transparent), url(https://i.postimg.cc/BvZ4RrD3/tenor.gif) repeat;
	background: -o-linear-gradient(transparent, transparent) !important;
	-webkit-background-clip: text !important;
  background-clip: text !important;
	-webkit-text-fill-color: transparent !important;

}

.myself{
  background-image: url(https://i.postimg.cc/FsCcN9HX/rainbow.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.universe{
  background-image: url(https://i.postimg.cc/WpMsLP8J/8e46150f790fbefe438d9c2767c32ad1.gif);
  color:#F8EBFF;
}

.partner{
  background-color: #ffffff;
  background-image: url(https://i.postimg.cc/3wsD8Nzs/223261863-71d1262f0c-o.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
}

.partner h1{
  position: relative;
  bottom: 111px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 3s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
  animation-delay: 20s;
}

.partner p{
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  bottom: 46%;
  left: 20%;
} 

.pdown{
  top: 20px;
}
/* text animation */


.ily{
  background: url(https://i.postimg.cc/tRB5tt6D/hhhh.png);
  background-size: cover;
}

.ily h1{
  position: relative;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}


.particletext.hearts > .particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(204, 42, 93, 1);
  animation: hearts 3s ease-in infinite;
}
.particletext.hearts > .particle:before, .particletext.hearts > .particle:after {
  position: absolute;
  content: '';
  border-radius: 100px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 42, 93, 1);
}
.particletext.hearts > .particle:before {
  transform: translateX(-50%);
}
.particletext.hearts > .particle:after {
  transform: translateY(-50%);
}

@keyframes sunriseSky {
  0% {
    background: radial-gradient(ellipse at bottom,#fca95b 0%,#dca7bf 35%,#5d54c7 85%, #473eac 100%);
  }
  25% {
    background: radial-gradient(ellipse at bottom,  #fee777 0%,  #fca95b 15%,  #dca7bf 45%,  #5d54c7 100%);
  }
  40% {
    background: radial-gradient(ellipse at bottom, #fee777 0%, #fca95b 25%, #dca7bf 50%, #98b9f2 90%, #6f9ceb 100%);
  }
  50% {
    background: radial-gradient(ellipse at bottom, #fee777 0%, #fca95b 25%, #dca7bf 50%, #98b9f2 90%, #6f9ceb 100%);
  }
  55% {
    background: radial-gradient(ellipse at bottom,  #fee777 10%,  #fca95b 40%,  #98b9f2 80%,  #6f9ceb 100% );
  }
  100% {
    background: radial-gradient(circle at center,  #fee777 10%,  #98b9f2 55%, #6f9ceb 100%  );
  }
}

@keyframes rise {
  0% {
    top: 250px;
    background-position: 50% 5%;
    opacity: 45%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    top: -175px;
    background-position: 50% 0%;
    opacity: 100%;
  }
}

@keyframes fadeText{
  25%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

/* https://codepen.io/jh3y/pen/WyNdMG */
@-moz-keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
  @-webkit-keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
  @-o-keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
  @keyframes drop {
    90%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: translateY(100vh);
    }
  }

@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
 }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
 }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
 }
}
 @keyframes animated-text{
  from{width: 0;}
  to{width: 35%;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}