@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,600&display=swap');
@import url(/experiment/css/snow.css);

body{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winter{
    background: radial-gradient(ellipse at bottom, #BFD7EA 10%, #726DA8 100%);
    overflow: hidden;
}
